html, body {
    height: 100%;
}

body {
    max-width: 600px;
    font-family: gotham, arial, helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0 auto !important;
}
.logo {
    width: 30%;
}


h1 {
    font-size: 45px;
}
.trusted {   
    font-size: 22px;
}

p {
    font-size: 16px;
    color: #000000;
    max-width: : 200px;
}
div {
    text-align: center;
    
}

.pc {
    width: 40%;
}

.secao-detalhes {
   display: flex; 
   justify-content: space-around;
}    
#teste{
  width: 400px;
  height: 300px;
  background-image: /storage/emulated/0/Canva20230212_164454_0000~2.png  ; 
}

    
  
  .botao {
   
  height: 38px;
   padding: 0 24px;
   background-color: green;
   color: #FFFFFF;
   font-size: 15px;
   border: none;
   border-radius: 2px;
   transition-duration: 300ms;
   justify-content: center;
   display: inline
  }
  input {
   width: 69%;
  height: 46px;
   padding: 0 26px;
   
   color: #FFFFFF;
   font-size: 15px;
   border: none;
   border-radius: 2px;
   transition-duration: 300ms;
   display: inline
   justify-content: center;

  }
.secao-detalhes i , .paragrafo {
 font-size: 29px;
 display: flex;
 flex-direction: row;
}
  span {
    font-size: 11px ;
}
.paragrafo , .bloco {  
    font-size: 14px;
    text-align: left;
}
.vdc {
    width: 100%;
    height: 25;
}



.pergunta , .mais {   
    font-size: 8px;
    display: inline;
    justify-content: row-reverse;
    
}
.pergunta {     
    text-align: left;
}
.mais {     
    text-align: right;
}
.frase1 , .frase2 , .frase3 , .frase4 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width:45rem;
        height: 3rem;
        border: none;
        outline: none;
        transition: 0.25s;
   
}

.cartao1 {
    padding: 0 18px;
    background-color: #007F61;
    width: 45rem;
    border-radius: 9px;
    display: none;
    overflow: hidden;
    transition: 2s;
    transition: max-height 0.2s ease-out;
}
    
.active, .frase1:hover {
    background-color: #007f6148;
  }

.material-symbols-outlined {
    color: #5f3e48;
    position: absolute;
    right: 203px;
}


.resposta {
    justify-content: flex-start;
    
    display: flex;
    text-align: start;
    
    color: #FFFFFF;
    
    
    
}

.faqs {
    background-color: #FAF9F7;
    padding: 40px 30px;
    margin: 0 auto !important;
}
.material-icons {
    color:#007F61;
}
.texto {
    font-size: 10px;
}
.shop {
    font-size: 16px;
    color: #000000;
}
.contate {
    max-width: 450px;
    padding: 0;
    margin: 0 auto !important;
}
.maior {
    font-size: 9px;
}
.ultimo {
    height: 38px;
   padding: 0 24px;
   background-color: #007F61;
   color: #FFFFFF;
   font-size: 15px;
   border: none;
   border-radius: 2px;
   transition-duration: 300ms;
   justify-content: center;
   display: inline
}
.fq {
    font-size: 30px;
    color: #007F61;
}
.fim {
    font-size: 13px;
    display: flex;
    flex-direction: row-reverse;
    color: #007F61;
}
.final {
   display: flex; 
   justify-content: end;
}  

.faques {
    
}